body {
	font-family: helvetica, tahoma, verdana, sans-serif;
	padding: 20px;
	padding-top: 32px;
	font-size: 13px;
}

/* style rows on mouseover */
.x-grid-row-over .x-grid-cell-inner {
	font-weight: bold;
}
/* shared styles for the ActionColumn icons */
.x-action-col-cell img {
	height: 16px;
	width: 16px;
	cursor: pointer;
}
/* custom icon for the "buy" ActionColumn icon */
.x-action-col-cell img.buy-col {
	background-image: url(../icons/accept.gif);
}
/* custom icon for the "alert" ActionColumn icon */
.x-action-col-cell img.alert-col {
	background-image: url(../icons/error.gif);
}
/* custom icon for the "alert" ActionColumn icon */
.delete-col {
	background-image: url(../icons/delete.gif);
}